<div class="field-group" id="campos-registro">
    <h4>Campos Específicos - Registro</h4>
    
    <div class="grid-2">
        {% include "dominial/components/_pessoa_form.html" with tipo="transmitente" label="Transmitente(s)" container_id="transmitentes-container-registro" sugestao_class="transmitente-suggestions" pessoas=transmitentes %}
        {% include "dominial/components/_pessoa_form.html" with tipo="adquirente" label="Adquirente(s)" container_id="adquirentes-container-registro" sugestao_class="adquirente-suggestions" pessoas=adquirentes %}
    </div>
    
    <!-- Campo de área opcional -->
    {% include "dominial/components/_area_form.html" with area_obrigatorio=False area_id="area_registro" %}
</div> 