{% extends "base.html" %}
{% load static %}

{% block title %}Lista de Documentos{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'dominial/css/alteracoes.css' %}">
{% endblock %}

{% block content %}
<h1>Documentos Registrados</h1>

<div class="usuario">
    Olá, {{ user.get_full_name|default:user.username }}!
</div>

<div class="aviso">
    Total de Documentos encontrados: {{ documentos|length }}
</div>

<ul>
    {% for documento in documentos %}
        <li><strong>{{ documento.numero }}</strong> — Tipo: {{ documento.tipo.get_tipo_display }}</li>
    {% empty %}
        <li>Nenhum documento encontrado.</li>
    {% endfor %}
</ul>
{% endblock %}
