{% extends "base.html" %}
{% load static %}

{% block title %}Lista de Cartórios{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'dominial/css/cartorios.css' %}">
{% endblock %}

{% block content %}
<h1>Cartórios Registrados</h1>

<div class="usuario">
    Olá, {{ user.get_full_name|default:user.username }}!
</div>

<div class="aviso">
    Total de Cartórios encontrados: {{ cartorios|length }}
</div>

<ul>
    {% for cartorio in cartorios %}
        <li><strong>{{ cartorio.nome }}</strong> — Código do Cartório (CNS): {{ cartorio.cns }}</li>
    {% empty %}
        <li>Nenhum cartório encontrado.</li>
    {% endfor %}
</ul>
{% endblock %}
