<div class="field-group" id="campos-registro">
    <h4>Campos Específicos - Registro</h4>
    
    <div class="grid-2">
        {% include "dominial/components/_pessoa_form.html" with tipo="transmitente" label="Transmitente(s)" container_id="transmitentes-container" sugestao_class="transmitente-suggestions" %}
        {% include "dominial/components/_pessoa_form.html" with tipo="adquirente" label="Adquirente(s)" container_id="adquirentes-container" sugestao_class="adquirente-suggestions" %}
    </div>
</div> 